# Main src wscript
/src/wscript

# Misc files
/DlRlcStats.txt
/UlRlcStats.txt
/sumo-errors-or-collisions.xml

/ms-van3t.cflags
/ms-van3t.cxxflags

/.editorconfig
/.mailmap
/CONTRIBUTING.md
/ms-van3t-3.33.cflags
/ms-van3t-3.33.cxxflags
/VERSION

*.diff
*.orig
*.patch
*.rej

/*.cflags
/*.cxxflags

*.o
*.pyc
*.pyo

*.cwnd
*.dat
*.log
*.mob
*.pcap
*.plt
*.routes
*.tr

\#*#
~*

/bindings/python/pybindgen/

/ms_print.*
/massif.*
/coverity
/TAGS

/.lock-waf_*_build
/.waf*

/build-dir/
/build/
/.cproject
/.project

/*.user
/*.files
/*.includes
/*.creator
/*.config

/error-log.csv
/fcd.xml
/simulation_log.txt
/summary.csv

/src/antenna/          
/src/dsdv/       
/src/network/    
/src/lte/             
/src/aodv/               
/src/dsr/             
/src/nix-vector-routing/      
/src/applications/       
/src/energy/          
/src/olsr/                    
/src/traffic-control/ 
/src/fd-net-device/   
/src/openflow/                
/src/uan/ 
/src/bridge/             
/src/flow-monitor/   
/src/point-to-point/         
/src/virtual-net-device/ 
/src/brite/              
/src/internet/        
/src/point-to-point-layout/   
/src/visualizer/ 
/src/buildings/          
/src/internet-apps/   
/src/propagation/             
/src/wave/ 
/src/click/              
/src/lr-wpan/         
/src/sixlowpan/               
/src/wifi/ 
/src/config-store/       
/src/spectrum/                
/src/wimax/ 
/src/core/               
/src/mesh/           
/src/stats/                   
/src/mobility/        
/src/tap-bridge/ 
/src/csma/               
/src/mpi/             
/src/test/ 
/src/csma-layout/        
/src/netanim/         
/src/topology-read/ 

gitignorer.sh

/.settings/
/bindings/
/contrib/
/doc/
/examples/
/log/
/patch/
/scratch/
/utils/
/waf-tools/
/CHANGES.html
/Makefile
/README
/READMEpatch.md
/RELEASE_NOTES
/premake5.lua
/test.py
/testpy.supp
/tools.lua
/utils.py
/waf
/waf.bat
/wscript
/wutils.py

/*.user
/*.files
/*.includes
/*.creator
/*.config

/.clang-format
/.hgignore
/.hgtags
/.vscode/*

# Student applications
/src/automotive/examples/sumo_files_v2v_map_student/
/src/automotive/examples/v2v-80211p-student-application.cc
/src/automotive/examples/sumo_files_v2v_city_map_student/
/src/automotive/examples/v2v-80211p-student-application-app1.cc
/src/automotive/examples/v2v-80211p-student-application-app2.cc
/src/automotive/examples/v2v-80211p-student-application-app3.cc
/src/automotive/examples/v2v-80211p-student-application-app4.cc
/src/automotive/examples/v2v-student-application-80211p.cc
/src/automotive/examples/v2v-student-application-80211p-sol.cc

# Other ns-3-dev files
/.lock-ns3_*_build
/cmake-cache/

# CLion files
.idea/
cmake-build-debug/

# CARLA-OpenCDA files
CARLA-OpenCDA.conf
CARLA_0.9.12/
OpenCDA/

# Additional build files
.clang-tidy
.codespellrc
.github/
# build-support/.ns3rc-template
# build-support/3rd-party/FindEigen3.cmake
# build-support/3rd-party/find-program-hints.cmake
# build-support/cmake-format-modules.yaml
# build-support/cmake-format.yaml
# build-support/compiler-workarounds/
# build-support/custom-modules/ns3-compiler-workarounds.cmake
# build-support/custom-modules/ns3-fetch-optional-modules-dependencies.cmake
# build-support/custom-modules/ns3-vcpkg-hunter.cmake
# build-support/pip-wheel/
# build-support/test-files/
build-support/
ns3
CMakeLists.txt
!/src/automotive/model/SignalInfo/CV2X/CMakeLists.txt
!/src/automotive/model/SignalInfo/LTE/CMakeLists.txt
!/src/automotive/model/SignalInfo/NR/CMakeLists.txt
!/src/automotive/model/SignalInfo/WiFi/CMakeLists.txt
grpc/
pyproject.toml
setup.cfg
setup.py
