# Main src wscript
/src/wscript

# Misc files
/DlRlcStats.txt
/UlRlcStats.txt
/sumo-errors-or-collisions.xml

/ms-van3t.cflags
/ms-van3t.cxxflags

/.editorconfig
/.mailmap
/CONTRIBUTING.md
/ms-van3t-3.33.cflags
/ms-van3t-3.33.cxxflags
/VERSION

*.diff
*.orig
*.patch
*.rej

/*.cflags
/*.cxxflags

*.o
*.pyc
*.pyo

*.cwnd
*.dat
*.log
*.mob
*.pcap
*.plt
*.routes
*.tr

\#*#
~*

/bindings/python/pybindgen/

/ms_print.*
/massif.*
/coverity
/TAGS

/.lock-waf_*_build
/.waf*

/build-dir/
/build/
/.cproject
/.project

/*.user
/*.files
/*.includes
/*.creator
/*.config

/error-log.csv
/fcd.xml
/simulation_log.txt
/summary.csv

/src/antenna/          
/src/dsdv/       
/src/network/    
/src/lte/             
/src/aodv/               
/src/dsr/             
/src/nix-vector-routing/      
/src/applications/       
/src/energy/          
/src/olsr/                    
/src/traffic-control/ 
/src/fd-net-device/   
/src/openflow/                
/src/uan/ 
/src/bridge/             
/src/flow-monitor/   
/src/point-to-point/         
/src/virtual-net-device/ 
/src/brite/              
/src/internet/        
/src/point-to-point-layout/   
/src/visualizer/ 
/src/buildings/          
/src/internet-apps/   
/src/propagation/             
/src/wave/ 
/src/click/              
/src/lr-wpan/         
/src/sixlowpan/               
/src/wifi/ 
/src/config-store/       
/src/spectrum/                
/src/wimax/ 
/src/core/               
/src/mesh/           
/src/stats/                   
/src/mobility/        
/src/tap-bridge/ 
/src/csma/               
/src/mpi/             
/src/test/ 
/src/csma-layout/        
/src/netanim/         
/src/topology-read/ 

gitignorer.sh

/.settings/
/bindings/
/contrib/
/doc/
/examples/
/log/
/patch/
/scratch/
/utils/
/waf-tools/
/CHANGES.html
/Makefile
/README
/READMEpatch.md
/RELEASE_NOTES
/premake5.lua
/test.py
/testpy.supp
/tools.lua
/utils.py
/waf
/waf.bat
/wscript
/wutils.py

/*.user
/*.files
/*.includes
/*.creator
/*.config

/.clang-format
/.hgignore
/.hgtags
/.vscode/*

# Student applications
/src/automotive/examples/sumo_files_v2v_map_student/
/src/automotive/examples/v2v-80211p-student-application.cc
/src/automotive/examples/sumo_files_v2v_city_map_student/
/src/automotive/examples/v2v-80211p-student-application-app1.cc
/src/automotive/examples/v2v-80211p-student-application-app2.cc
/src/automotive/examples/v2v-80211p-student-application-app3.cc
/src/automotive/examples/v2v-80211p-student-application-app4.cc
/src/automotive/examples/v2v-student-application-80211p.cc
/src/automotive/examples/v2v-student-application-80211p-sol.cc

# Other ns-3-dev files
/.lock-ns3_*_build
/cmake-cache/

# CLion files
.idea/
cmake-build-debug/

# CARLA-OpenCDA files
CARLA-OpenCDA.conf
CARLA_0.9.12/
OpenCDA/

# Additional build files
.clang-tidy
.codespellrc
.github/
# build-support/.ns3rc-template
# build-support/3rd-party/FindEigen3.cmake
# build-support/3rd-party/find-program-hints.cmake
# build-support/cmake-format-modules.yaml
# build-support/cmake-format.yaml
# build-support/compiler-workarounds/
# build-support/custom-modules/ns3-compiler-workarounds.cmake
# build-support/custom-modules/ns3-fetch-optional-modules-dependencies.cmake
# build-support/custom-modules/ns3-vcpkg-hunter.cmake
# build-support/pip-wheel/
# build-support/test-files/
build-support/
ns3
CMakeLists.txt
!/src/automotive/model/SignalInfo/CV2X/CMakeLists.txt
!/src/automotive/model/SignalInfo/LTE/CMakeLists.txt
!/src/automotive/model/SignalInfo/NR/CMakeLists.txt
!/src/automotive/model/SignalInfo/WiFi/CMakeLists.txt
grpc/
pyproject.toml
setup.cfg
setup.py
/src/nr/.gitlab-ci-code-linting.yml
/src/nr/doc/source/figures/BSiso3gpp.png.license
/src/nr/doc/source/figures/bwp.png.license
/src/nr/doc/source/figures/bwps.pdf.license
/src/nr/doc/source/figures/ca-enb-data-plane-v6.dia.license
/src/nr/doc/source/figures/ca-mmwave-enb-net-device-changes.dia.license
/src/nr/doc/source/figures/CAexamplesBuildings.png.license
/src/nr/doc/source/figures/CAiso3gpp.png.license
/src/nr/doc/source/figures/calibrationHex.png
/src/nr/doc/source/figures/calibrationHex.png.license
/src/nr/tutorial/source/conf.py
/src/nr/doc/figures/create-merge-request.png.license
/src/nr/examples/3gpp-outdoor-calibration/cttc-nr-3gpp-calibration.cc
/src/nr/examples/3gpp-outdoor-calibration/cttc-nr-3gpp-calibration.h
/src/nr/examples/3gpp-outdoor-calibration/cttc-nr-3gpp-calibration-user.cc
/src/nr/examples/3gpp-outdoor-calibration/cttc-nr-3gpp-calibration-utils-v1.cc
/src/nr/examples/3gpp-outdoor-calibration/cttc-nr-3gpp-calibration-utils-v1.h
/src/nr/examples/3gpp-outdoor-calibration/cttc-nr-3gpp-calibration-utils-v2.cc
/src/nr/examples/3gpp-outdoor-calibration/cttc-nr-3gpp-calibration-utils-v2.h
/src/nr/examples/cttc-nr-multi-flow-qos-sched.cc
/src/nr/examples/cttc-nr-simple-qos-sched.cc
/src/nr/examples/cttc-nr-traffic-3gpp-xr.cc
/src/nr/examples/cttc-nr-traffic-ngmn-mixed.cc
/src/nr/doc/source/figures/drawing.pdf.license
/src/nr/doc/source/figures/drawing.png.license
/src/nr/doc/source/figures/drawing1.pdf.license
/src/nr/doc/source/figures/drawing1.png.license
/src/nr/doc/source/figures/drawing2.png.license
/src/nr/doc/source/figures/drawings-1.png.license
/src/nr/doc/source/figures/end-to-end.png.license
/src/nr/tutorial/source/figures/entities.dia
/src/nr/tutorial/source/figures/entities.dia.license
/src/nr/tutorial/source/figures/EpcEnbApplication-RecvFromS1uSocket-packet.dia
/src/nr/tutorial/source/figures/EpcEnbApplication-RecvFromS1uSocket-packet.dia.license
/src/nr/doc/static/favicon.ico.license
/src/nr/doc/source/figures/ulpc/fc_38213.png.license
/src/nr/examples/3gpp-outdoor-calibration/flow-monitor-output-stats.cc
/src/nr/examples/3gpp-outdoor-calibration/flow-monitor-output-stats.h
/src/nr/doc/source/figures/frame-structure-freq.pdf.license
/src/nr/doc/source/figures/frame-structure-freq.png.license
/src/nr/doc/source/figures/frame-structure-time.pdf.license
/src/nr/doc/source/figures/frame-structure-time.png.license
/src/nr/doc/figures/git-commit.png.license
/src/nr/LICENSES/GPL-2.0-only.txt
/src/nr/doc/source/figures/HetNet.png.license
/src/nr/doc/source/figures/hex-grid.png.license
/src/nr/doc/source/figures/l2sm-1.png.license
/src/nr/doc/static/lena_logo.png.license
/src/nr/tutorial/source/figures/LtePdcp-DoTransmitPdcpSdu-packet.dia
/src/nr/tutorial/source/figures/LtePdcp-DoTransmitPdcpSdu-packet.dia.license
/src/nr/tutorial/source/figures/LteRlcUm-DoNotifyTxOpportunity-fragmentation.dia
/src/nr/tutorial/source/figures/LteRlcUm-DoNotifyTxOpportunity-fragmentation.dia.license
/src/nr/tutorial/Makefile
/src/nr/doc/figures/merge-request-after-push.png.license
/src/nr/doc/figures/merge-request-page.png.license
/src/nr/doc/figures/merge-request-project-page.png.license
/src/nr/doc/figures/new-merge-request-page.png.license
/src/nr/doc/source/figures/ulpc/nr-clpc.dia.license
/src/nr/tutorial/source/figures/nr-gnb.dia
/src/nr/tutorial/source/figures/nr-gnb.dia.license
/src/nr/model/nr-mac-scheduler-lc-alg.cc
/src/nr/model/nr-mac-scheduler-lc-alg.h
/src/nr/model/nr-mac-scheduler-lc-qos.cc
/src/nr/model/nr-mac-scheduler-lc-qos.h
/src/nr/model/nr-mac-scheduler-lc-rr.cc
/src/nr/model/nr-mac-scheduler-lc-rr.h
/src/nr/model/nr-mac-scheduler-ofdma-qos.cc
/src/nr/model/nr-mac-scheduler-ofdma-qos.h
/src/nr/model/nr-mac-scheduler-tdma-qos.cc
/src/nr/model/nr-mac-scheduler-tdma-qos.h
/src/nr/model/nr-mac-scheduler-ue-info-qos.cc
/src/nr/model/nr-mac-scheduler-ue-info-qos.h
/src/nr/doc/source/figures/nr-scheduler-collab.dia.license
/src/nr/doc/source/figures/nr-schedulers.dia.license
/src/nr/doc/source/figures/nr-sl-arch-ue-ctrl-plane.dia.license
/src/nr/doc/source/figures/nr-sl-arch-ue-data-plane.dia.license
/src/nr/tutorial/source/figures/nr-ue.dia
/src/nr/tutorial/source/figures/nr-ue.dia.license
/src/nr/doc/source/figures/numerologies-1.png.license
/src/nr/doc/source/figures/pic.pdf.license
/src/nr/examples/3gpp-outdoor-calibration/power-output-stats.cc
/src/nr/examples/3gpp-outdoor-calibration/power-output-stats.h
/src/nr/doc/source/figures/protocol-stack.png.license
/src/nr/doc/source/figures/ulpc/pucch_36.213.png.license
/src/nr/doc/source/figures/ulpc/pucch_38213.png.license
/src/nr/doc/source/figures/ulpc/pusch-1.png.license
/src/nr/doc/source/figures/ulpc/pusch_38213.png.license
/src/nr/examples/3gpp-outdoor-calibration/rb-output-stats.cc
/src/nr/examples/3gpp-outdoor-calibration/rb-output-stats.h
/src/nr/doc/source/figures/rbf-impl.dia.license
/src/cv2x/model/rsrp-tag.cc
/src/nr/model/rsrp-tag.cc
/src/cv2x/model/rsrp-tag.h
/src/nr/model/rsrp-tag.h
/src/cv2x/model/rssi-tag.cc
/src/nr/model/rssi-tag.cc
/src/cv2x/model/rssi-tag.h
/src/nr/model/rssi-tag.h
/src/nr/doc/source/figures/scenario-simple.png.license
/src/nr/examples/3gpp-outdoor-calibration/sinr-output-stats.cc
/src/nr/examples/3gpp-outdoor-calibration/sinr-output-stats.h
/src/cv2x/model/sinr-tag.cc
/src/nr/model/sinr-tag.cc
/src/cv2x/model/sinr-tag.h
/src/nr/model/sinr-tag.h
/src/nr/examples/3gpp-outdoor-calibration/slot-output-stats.cc
/src/nr/examples/3gpp-outdoor-calibration/slot-output-stats.h
/src/nr/doc/source/figures/srs-ext3.png.license
/src/nr/doc/source/figures/ulpc/srs_ts36213.png.license
/src/nr/doc/source/figures/ulpc/srs_ts38213.png.license
/src/nr/test/system-scheduler-test-qos.cc
/src/nr/test/system-scheduler-test-qos.h
/src/nr/doc/source/figures/time-freq-mu3-400mhz.jpg.license
/src/nr/doc/source/figures/time-freq-mu3-400mhz.pdf.license
/src/nr/doc/source/figures/time-freq-mu3-400mhz.png.license
/src/nr/doc/source/figures/time-freq-mu3-400mhz2.pdf.license
/src/cv2x/model/timestamp-tag.cc
/src/nr/model/timestamp-tag.cc
/src/cv2x/model/timestamp-tag.h
/src/nr/model/timestamp-tag.h
/src/nr/utils/traffic-generators/model/traffic-generator.cc
/src/nr/utils/traffic-generators/model/traffic-generator.h
/src/nr/utils/traffic-generators/model/traffic-generator-3gpp-audio-data.cc
/src/nr/utils/traffic-generators/model/traffic-generator-3gpp-audio-data.h
/src/nr/utils/traffic-generators/model/traffic-generator-3gpp-generic-video.cc
/src/nr/utils/traffic-generators/model/traffic-generator-3gpp-generic-video.h
/src/nr/utils/traffic-generators/model/traffic-generator-3gpp-pose-control.cc
/src/nr/utils/traffic-generators/model/traffic-generator-3gpp-pose-control.h
/src/nr/examples/traffic-generator-example.cc
/src/nr/utils/traffic-generators/model/traffic-generator-ftp-single.cc
/src/nr/utils/traffic-generators/model/traffic-generator-ftp-single.h
/src/nr/utils/traffic-generators/helper/traffic-generator-helper.cc
/src/nr/utils/traffic-generators/helper/traffic-generator-helper.h
/src/nr/utils/traffic-generators/model/traffic-generator-ngmn-ftp-multi.cc
/src/nr/utils/traffic-generators/model/traffic-generator-ngmn-ftp-multi.h
/src/nr/utils/traffic-generators/model/traffic-generator-ngmn-gaming.cc
/src/nr/utils/traffic-generators/model/traffic-generator-ngmn-gaming.h
/src/nr/utils/traffic-generators/model/traffic-generator-ngmn-video.cc
/src/nr/utils/traffic-generators/model/traffic-generator-ngmn-video.h
/src/nr/utils/traffic-generators/model/traffic-generator-ngmn-voip.cc
/src/nr/utils/traffic-generators/model/traffic-generator-ngmn-voip.h
/src/nr/utils/traffic-generators/test/traffic-generator-test.cc
/src/nr/utils/traffic-generators/test/traffic-generator-test.h
/src/nr/tutorial/source/tutorial.rst
/src/nr/doc/source/figures/UlRemHex.png.license
/src/nr/doc/source/figures/UmaRma.png.license
/src/nr/doc/figures/vim-insert.png.license
/src/nr/doc/figures/vim-save-quit.png.license
/src/nr/utils/traffic-generators/helper/xr-traffic-mixer-helper.cc
/src/nr/utils/traffic-generators/helper/xr-traffic-mixer-helper.h